
<h4>Angular 2 Dropdown Menu with Keyboard Accessibility</h4>
<div class="btn-group" dropdown keyboardNav="true">
  <button id="dropdown-keyboard-access" type="button" class="btn btn-info" dropdownToggle>
                          Dropdown with Keyboard Accessibility (Up and Down) <span class="caret"></span>
                        </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-keyboard-access">
    <li role="menuitem"><a class="dropdown-item" href="#">BMW Serie 1</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">BMW Serie 5</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">BMW Serie 3</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Porsche</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Audi New</a></li>
  </ul>
</div>


<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
<div class="alert alert-success" role="alert">
  <div class="btn-group" dropdown keyboardNav="true">
    <button id="pepe" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Listado de paises <span class="caret"></span> {{selectedPais}} </button>
    <ul *dropdownMenu class="dropdown-menu" role="<menubar></menubar>" aria-labelledby="pepe">
      <li role="menuitem" *ngFor="let pais of paises">
        <a class="dropdown-item" href="setCountry/{{pais}}"> {{pais}}</a></li>

    </ul>
  </div>
</div>

<select [(ngModel)]="selectedPais" (change)="onPaisSelection($event)">
  <option *ngFor="let c of paises" [ngValue]="c"  >{{c}}</option>
</select>

<label for="selectedPais"> Pais seleccionado</label>
<div>{{selectedPais}}</div>
<button class="btn btn-danger" (click)="createClient($event)">Crear cliente</button>