@{
    ViewBag.Title = "Reporte de personas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    
<link href="~/Content/ng-table.css" rel="stylesheet" />
    }

<div ng-app="myApp">
    <div ng-controller="personController ">
        <h1>Understandiing angular  promise</h1>
        <input type="text" ng-model='myValue' name="valorcillo" class="text-danger"/>

        <br /><br />
           
                  <div class="text-primary ">{{myValue}}</div>
        
        <br />
        <p>
            <div class="text-center text-consulta">{{step}}</div>
        </p>
    </div>
</div>


@section Scripts {
<script src="@Url.Content("~/Scripts/vm_angular/ng_promise.js")" type="text/javascript"></script>

}