@{
    ViewBag.Title = "Reporte de personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    
<link href="~/Content/ng-table.css" rel="stylesheet" />
    }
<div ng-app="app">
    <div ng-controller="PersonController as vm">
        <h1>Personas</h1>
        <p>
            <input class="form-control" placeholder="Search by Name" type="text" ng-model="vm.search" ng-model-options="{ debounce: 500 }" />
        </p>
        <table ng-table="vm.tableParams" class="table">
            <tr ng-repeat="p in $data">
                <td data-title="'Nombre'" data-sortable="'Name'">{{p.Name}}</td>
                <td data-title="'Apellido'" data-sortable="'Name'">{{p.Lastname}}</td>
                <td data-title="'Doc'" data-sortable="'DocNumber'">{{p.DocNumber}}</td>
            </tr>
        </table>
    </div>
</div>


@section Scripts {

<script src="@Url.Content("~/Scripts/ng-table.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/restangular.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/person/lista.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/person/person.controller.js")" type="text/javascript"></script>
}