@{
    ViewBag.Title = "Reporte de personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {

        $('#btnCall').on('click', function () {

        });
    });


</script>
@section styles {

    <link href="~/Content/ng-grid.css" rel="stylesheet" />

    <style>
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 1000px;
            height: 300px;
        }
    </style>

}


<button id="btnCall" type="button" class="btn btn-primary">llamar al svc</button>
<div id="json_resul"></div>
<div ng-app="myApp">

    <div ng-controller="EmployeeController">
        <h1>Personas</h1>

        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form class="input" ng-submit="submit()" role="form">
                    <div style="border: 2px solid gray;width:600px;">
                        <labl> <b> Add a New Model:  NG GRID DEMO </b></labl>
                        <div class="form-group">
                            <label>
                                <b>apellido</b></label>
                                <input id="inputs" class="form-control" type="text" ng-model="LastName">
                        </div>
                        <div class="form-group">
                            <label><b>Nombre :</b></label>
                            <input id="Number1" class="form-control" type="text" ng-model="Name">
                        </div>
                        @*<div class="form-group">
                            <label>Price</label>
                            <input id="Date1" class="form-control" type="number" ng-model="Price">
                        </div>
                        <div class="form-group">
                            <label>Stocks</label>
                            <input id="Number2" class="form-control" type="number" ng-model="Stocks">
                        </div>*@

                        <div class="form-group">
                            <input type="submit" value="submit" id="but" class="btn btn-success">
                            <button type="button" class="btn btn-warning" ng-click=" changegroupby('lastname','name')">Agrupado por apellido y nombre </button>
                            <button type="button" class="btn btn-warning" ng-click="clearGroupBy()">quietar gagrupación</button>
                            <button type="button" class="btn btn-info" ng-click="showBindedData()">Mostrar json</button>
                            <input type="button" class="btn btn-primary"  value="Refrescar" ng-click="refresh()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>  
        <div class="panel panel-danger">
            <div class="panel-heading"><b><p style="padding-left:50px;">Lista de personal</p></b></div>
            <div style="width: 500px;">
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
        </div>  
        <input type="button" value="Buscar enbase de datos" ng-click="vm.search()" />

    </div>
</div>


@section Scripts {
  
    <script src="@Url.Content("~/Scripts/ng-grid.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vm_angular/test.js")" type="text/javascript"></script>
}
