    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Ouer rutes</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
   
            <li>
              <a href="../cliente/">Ventas</a>
            </li>
            <li>
               <a [routerLink]="['clientes']">Client</a>
            </li>
       
               <li>
            <a routerLink="clientes" routerLinkActive="active">Client Center</a>
            </li>
        
          </ul>

      

        </div>
      </div>
    </div>

 <div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>