

<div class="content-container">
    <button mat-raised-button (click)="localError()">Local front end error</button>
    <button mat-raised-button (click)="failingRequest()">Server request with error</button>
    <button mat-raised-button (click)="successfulRequest()">Successful request showing loading spinner</button>




    <div class="mdc-form-field">
        <button mat-stroked-button color="primary" (click)="retriveStock()">Retrive Stock</button>
    </div>
    <div class="mdc-form-field">
        <button mat-stroked-button color="warning" (click)="retriveStock2()">Retrive Stock 2</button>
    </div>

    <div class="mdc-form-field">
        <button mat-stroked-button color="warning" (click)="oauthToken()">oauthToken directo</button>
    </div>
    <div class="mdc-form-field">
        <button mat-stroked-button color="warning" (click)="refreshTk()">Refresh directo</button>
    </div>

</div>

<ul class="mdc-list" *ngFor="let item of stockList">
    <li class="mdc-list-item" tabindex="0">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">{{item.Description}}</span>
      </li>
</ul>