@{
    ViewBag.Title = "Reporte de personas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    

    }

<div ng-app="myApp">
    <div ng-controller="personController  as vm">
        <h1> angular  factory FACTORY</h1>
        <br /><br />

        <label>Utiliza  nombre que porviene del factory descargasFactory </label>
        <div class="text-primary ">{{vm.nombre}}</div>
        <label>Utiliza  descargas que porviene del factory descargasFactory </label>
        <div class="text-primary ">{{vm.descargas}}</div>

        <br />


        @*<input type="text" ng-model='' name="valorcillo" class="text-danger"/>*@
        <button id="btnCall" type="button" ng-click="vm.svc.todos()" class="btn btn-primary">llamar al personFactorySVC.getAll</button>
        <div class="text-center text-consulta">{{vm.PersonaTodos}}</div>
        <br /><br />

   

        <br />
        <input type="text" ng-model='vm.PersonId' name="valorcillo" class="text-danger"  />
        
        <button id="btnCall" type="button" ng-click="vm.svc.porId(vm.PersonId)" class="btn btn-primary">llamar al personFactorySVC.porId</button>

        <button id="btnCall" type="button" ng-click="vm.svc_post.porId(vm.PersonId)" class="btn btn-primary">llamar al personFactorySVC_POST</button>
        <p>
            <div class="text-center text-consulta">{{vm.PersonaJson}}</div>  
            <div class="text-center text-consulta">{{vm.Persona}}</div>  
            <br />
            <div class="text-center text-consulta">{{vm.Persona.PersonId}}</div>  
            <div class="text-center text-consulta">{{vm.Persona.Name}}</div>  
            <div class="text-center text-consulta">{{vm.Persona.LastName}}</div>  
            <div class="text-center text-consulta">{{vm.Persona.DocNumber}}</div>  
        </p>



        <button id="btnCall" type="button" ng-click="vm.svc_post.create(vm.Persona)" class="btn btn-warning">llamar al Crear personFactorySVC_POST</button>
        <div class="text-center text-info">{{vm.MsgCreacionPersona}}</div>  
        
    </div>
</div>


@section Scripts {
<script src="@Url.Content("~/Scripts/vm_angular/ng_factory.js")" type="text/javascript"></script>

}