@{
    ViewBag.Title = "Reporte de personas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    

    }

<div ng-app="myApp">
    <div ng-controller="personController">
        <h1> angular  service</h1>
        @*<input type="text" ng-model='' name="valorcillo" class="text-danger"/>*@
        <button id="btnCall" type="button" ng-click="GetAllRecords()" class="btn btn-primary">llamar al svc</button>
        <br /><br />
           
                  <div class="text-primary ">{{nombre}}</div>
        
        <br />
        <p>
            <div class="text-center text-consulta"></div>
        </p>
    </div>
</div>


@section Scripts {
<script src="@Url.Content("~/Scripts/vm_angular/ng_factory.js")" type="text/javascript"></script>

}