<div class="col-lg-2">

  <form class="form">
    <div class="form-group ">
      {{patientId}}
      <img class="img-rounded" [src]="fullImagePath" alt="Foto" />
    </div>
    <div class="form-group ">


      <div class="radio">
        <label>
          <input type="radio" [checked]="currentPerson.Sexo===0" (click)="onSexChanged($event.target.checked)" name="modelProperty">Hombre
           </label>
      </div>
      <div class="radio">
        <label>
             <input type="radio" [checked]="currentPerson.Sexo===1" (click)="onSexChanged(!$event.target.checked)" name="modelProperty">Mujer
         </label>
      </div>


    </div>
  </form>
</div>


<div class="col-lg-10">

  <form class="form-horizontal">
    <div class="form-group ">
      <label for="Nombre" class="col-lg-2 control-label">Nombre </label>
      <div class="col-lg-5">
         <input type="text" class="form-control" name="txtNombre" placeholder="Nombre" [(ngModel)]="currentPerson.Nombre">
      </div>
    </div>

    <div class="form-group ">
      <label for="Apellido" class="col-lg-2 control-label">Apellido </label>
      <div class="col-lg-5">
        <input class="form-control" name="apell" placeholder="Apellido " type="text" [(ngModel)]="currentPerson.Apellido">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-4">
        <label  for="TipoDocumento" class="col-lg-2">Tipo Documento</label>
        <select  name="cmbTipoDocumento" class="form-control " #cmbTipoDocumento [(ngModel)]="currentPerson.TipoDocumento">
                <option *ngFor="let item of tipoDocumentoList" 
                 [ngValue]="item.IdParametro.toString()">{{item.Nombre}}</option>
            </select>
     
      
      </div>
      <div class="col-lg-pull-1 col-lg-6">
        <label for="NroDocumento" class="col-lg-5 ">Nro documento </label>
        <div class="col-lg-pull-1 col-lg-5">
          <input class="form-control" name="nroDoc" type="text" maxlength="8" placeholder="Nro Documento" [(ngModel)]="currentPerson.NroDocumento" #txtBox_NroDocumento2>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="fechaAlta" class="col-lg-2 control-label">FechaAlta</label>
      <div class="col-lg-4">
        <input class="form-control" name="FechaAlta" type="date" [(ngModel)]="currentPerson.FechaAlta">
      </div>
    </div>
    <div class="form-group row">
      <label for="fechaNacimiento" class="col-lg-2 control-label">FechaNacimiento</label>
      <div class="col-lg-4">
        <input class="form-control" name="fechaNacimiento" type="date" [(ngModel)]="currentPerson.FechaNacimiento">
      </div>
    </div>
    <div class="form-group row">
      <label for="ecivil" class="col-lg-2 control-label">Estado civil</label>
      <div class="col-lg-4">
        <select name="cmbEstadoCivil" class="form-control margin-bottom" #cmbEstadoCivil [(ngModel)]="currentPerson.IdEstadocivil">
                        <option *ngFor="let item of estadoCivilList"  
                            
                        [ngValue]="item.IdParametro">{{item.Nombre}}</option>
                 </select>
      </div>
    </div>
  </form>

</div>
<!-- 
  
    <div class="form-group">
        <input class="form-control" name="nroDoc" placeholder="NroDocumento" [(ngModel)]="currentPerson.NroDocumento" #txtBox_NroDocumento (keyup.enter)="txtBox_NroDocumento_onKeyEnter(txtBox_NroDocumento.value)"
          (blur)="txtBox_NroDocumento_onKeyEnter(txtBox_NroDocumento.value)"> -->
<!-- </div> -->









<br/>

<br/>
<br/>
<br/>







<div class="row">


  <div class="col-xs-6 col-md-4">
    <div class="alert-danger">
        <select  class="col-lg-4" [(ngModel)]="currentPerson.TipoDocumento">
            <option *ngFor="let c of tipoDocumentoList" 
             [ngValue]="c.IdParametro">{{c.Nombre}}</option>
      </select>
      <div>Current Person </div>
      <div>{{currentPerson | json}}</div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">
    <div class="alert-info">


      <div>TipoDocumento : {{currentPerson.TipoDocumento | json}}</div>
      <div>Estado civil : {{currentPerson.IdEstadocivil | json}}</div>
      
    </div>
  </div>
</div>



<!-- <ng2-dropdown>
        <ng2-dropdown-button>
            Open Menu
        </ng2-dropdown-button>
        <ng2-dropdown-menu>
            <ng2-menu-item *ngFor="let page of pages">
                {{ page }}
            </ng2-menu-item>
     
            <div class='ng2-menu-divider'></div>
     
            <ng2-menu-item>
                With Divider
            </ng2-menu-item>
        </ng2-dropdown-menu>
    </ng2-dropdown> -->



<!-- <div class="alert alert-success" role="alert">
        <div class="btn-group" dropdown keyboardNav="true">
          <button id="btnPaises" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Listado de paises <span class="caret"></span> {{selectedPais}} </button>
          <ul *dropdownMenu class="dropdown-menu" role="<menubar></menubar>" aria-labelledby="btnPaises">
            <li role="menuitem" *ngFor="let pais of paises">
              <a class="dropdown-item" href="setCountry/{{pais.Id}}"> {{pais.Nombre}}</a></li>
      
          </ul>
        </div>
      </div> -->