<p>
  Este es el componete de prueba y works fine!
</p>

<input type="number" [(ngModel)]="Suma" />

<input type="text" value="{{Suma}}"/>

 <br />
<select (change)="selectValue = ( $event.target.value && friends[ +$event.target.value ] || null );">
            <option>No Friends</option>
            <template ngFor let-friend [ngForOf]="friends" let-index="index">
                <option [value]="index" [selected]="( selectValue === friend )">
                    {{ friend.name }}
                </option>
            </template>
</select>
 <br />
  <br />
    <strong>Text Value</strong>: {{ textValue | json }}<br />
        <strong>Textarea Value</strong>: {{ textareaValue | json }}<br />
        <strong>Checkbox Value</strong>: {{ checkboxValue | json }}<br />
        <strong>Radiobox Value</strong>: {{ radioValue | json }}<br />
        <strong>Select Value</strong>: {{ selectValue | json }}<br />