

<input type="date" class="form-control" name="fechaAlta" type="date" 
[value]="fechaAlta | date:'yyyy-MM-dd'"> 

<input type="date"class="form-control" 
  [ngModel] ="fechaAlta | date:'yyyy-MM-dd'" 
  (ngModelChange)="fechaAlta = $event" 
  [value]="fechaAlta | date:'yyyy-MM-dd'">
<h2>
Valores de fecha
</h2>
<h3><b>Fecha : </b>{{fechaAlta}}</h3>
<h3><b>Fecha toLocaleTimeString : </b>{{fechaAlta.toLocaleTimeString()}}</h3>
<h3><b>Fecha toLocaleDateString :</b> {{fechaAlta.toLocaleDateString()}}</h3>
<h3><b>Fecha toDateString :</b> {{fechaAlta.toDateString()}}</h3>
<h3><b>Fecha toISOString</b> : {{fechaAlta.toISOString()}}</h3>



<!-- <div class="form-group">
  <div class="col-lg-8">
    <label for="TipoDocumento" class="col-lg-offset-2 col-lg-2">Tipo Documento</label>
    <select name="tipodoc" class="col-lg-4" [(ngModel)]="currentPerson.TipoDocumento">
          <option *ngFor="let c of tipoDocumentoList"  
                [ngValue]="c.IdParametro.toString()">{{c.Nombre}}
          </option>
                  </select>
  </div>

</div> -->
<div class="row" >
  <button class="btn btn-danger" (click)="cambiarPersona()">Refrescar pèrsona</button>
        <div class="col-xs-6 col-md-4">
                <div class="alert-danger">
                  
                  <div>{{currentPerson | json}}</div>
                </div>
              </div>
</div>
